<p><%= notice %></p>

<h2><%= @project.name %></h2>

<%= render @project %>

<div>
  <%= link_to "Edit this project", edit_project_path(@project) %> |
  <%= link_to "Back to projects", projects_path %>
</div>

<%= button_to "Destor this project", project_path(@project), method: :delete %>
