<%= form_with(model: todo) do |form| %>
  <% if todo.errors.any? %>
    <div>
      <h2><%= pluralize(todo.errors.count, "error") %> prohibited this todo from being saved:</h2>

      <ul>
        <% todo.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description %>
    <%= form.textarea :description %>
  </div>

  <div>
    <%= form.label :completed %>
    <%= form.check_box :completed %>
  </div>

  <div>
    <%= form.label :priority %>
    <%= form.number_field :priority %>
  </div>

  <div>
    <%= form.label :project_id %>
    <%= form.collection_select :project_id, Project.all, :id, :name, prompt: "Select a project" %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
